
//  LAYOUT

#mid-game-section {
    background-color: @spring-light-blue;
    position: relative;
    display: flex;
    flex: auto;
    flex-direction: column;
    justify-content: stretch;
    align-items: stretch;

    #turn-section {
        width: 100%;
        min-height: 55px;

        h3 {
            width: 140px;
            margin: 20px 20px auto auto;
            color: @spring-light-grey;
            border-bottom: solid 1px @spring-light-grey;
            padding-left: 10px;
        }
    }
    
    #central-section {
        width: 100%;
        min-height: 300px;
        display: flex;
        justify-content: space-evenly;

        > * {
            margin: 20px;
            min-height: 300px;
            background: pink;
            background-color: @spring-grey;
            border: 1px solid #bbbbbb;
            box-shadow: 0 0 5px 1px #60606047;    
        }

        #players-section {
            flex-grow: 0.1;
            display: flex;
            align-items: center;
            flex-direction: column;

            h2 {
                font-size: 16px;
                line-height: 24px;
                margin-bottom: auto;
                margin-top: 15px;
                font-weight: 700;
                border-bottom: 1px solid #363636;
                width: 80%;
                text-align: center;
            }

            .player-list {
                justify-content: space-evenly;
                display: flex;
                flex-direction: column;
                align-items: stretch;
                height: 100%;
                width: 100%;
            }
        }
        
        #game-section {
            flex-grow: 0.8;
        }
    }
    
    #deck-section {
        width: 100%;
        min-height: 120px;
        background: red;
        background-color: @spring-grey;
        border: 1px solid #bbbbbb;
        box-shadow: 0 0 5px 1px #60606047;

        .deck-list {
            margin: 5px;
            list-style: none;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            flex-wrap: wrap;

            .card-item {
                margin: 5px;

                img {
                    height: 105px;
                    border-radius: 6px;
                    box-shadow: inset 5px 5px 5px -5px #ffffff3b, 2px 2px 3px 1px #00000047;
                }
                
            }
        }
    }

}