#background {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;

    z-index: -1;
    background: #0f9bf6;
    display: flex;
    align-items: center;
    justify-content: center;
}

#sun {
    position: absolute;
    top: -30px;
    left: -30px;
    height: 100px;
    width: 100px;
    background: radial-gradient(circle, yellow 40%, #fff4be 100%);
    border-radius: 50%;

    #sun-shadow {  
        position: absolute;
        left: -160%;
        top: -160%;
        background: radial-gradient(circle, #ffe40045 10%, transparent 75%, transparent 100%);
        height: 500px;
        width: 500px;
        border-radius: 50%;
        z-index: -1;
    }
}

.waves {
    position: absolute;
/*      left: 0;
    right: 0;
    height: 200px;
    bottom: 0;*/
    bottom: -223px;
    height: 527px;
    width: 100%;
    overflow: hidden;
}

.wave {
    position: absolute;
    left: -180px;
    bottom: 0;
    /*width: 200px;*/
    /*height: 200px;*/
    /*width: 100%;*/
    /*border-radius: 50%;*/
    /*background:rgba(0,0,0, .3);*/
    width: 2402px;
    height: 427px;
    background: url("/resources/images/wave.webp") center bottom no-repeat;
    animation: 5s wave ease-in-out infinite alternate;
}
.wave.a {
    background-position: 0 -854px;
}
.wave.b {
    background-position: 0 -427px;
    animation-delay: .6s;
}
.wave.c {
    background-position: 0 0;
    animation-delay: 1.2s;
}
/*.container {
position: absolute;
}*/
@keyframes wave {
0% {
    transform: translate(0 , 0);
}
50% {
    transform: translate(-80px, 30px);
}
100% {
    transform: translate(160px, -60px);
}
}


.player-list {
    flex: auto;

    .player-item {
        width: 85%;
        margin:6px;
        list-style: none;
        background-color: @spring-brown;
        display: flex;
        border-radius: 15px;
        box-shadow: inset 5px 5px 5px -5px #ffffff3b,
                    0 2px 7px 1px #00000059;
        animation: 3s player-item cubic-bezier(0.46, 0.03, 0.52, 0.96) infinite alternate;

        a {
            width: 100%;
            padding: 10px;
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: space-around;
            align-items: center;
        }

        .username {
            font-family: 'montserratregular';
            color: white;
            width: 80%;
        }

        .profile-photo {
            width: 25px;
            aspect-ratio: 1;
            border-radius: 50%;
        }
    }
}

@keyframes player-item {
    0% {
        transform: translateX(-5px);
    }
    100% {
        transform: translateX(5px);
    }
}