// TABLES
#statistics-full, #statistics-resume {
    .table-title {
        font-weight: bolder;
    }
}

#statistics-resume {
    height: 70%;

    table {
        width: 100%;
        height: 100%;

        tr {
            border-bottom: 1px solid @spring-brown;
        }

        th {
            padding-right: 5px;
            font-weight: lighter;
        }
    }
}

#statistics-full {
    height: 70%;

    table {
        width: 100%;
        height: 100%;

        tr {
            border-bottom: 1px solid @spring-brown;
        }

        th {
            min-width: 100px;
            padding-right: 5px;
            font-weight: lighter;
        }
    }
}

#games,
#players,
#achievements {
    min-height: 70%;
    margin-top: 30px;

    table {
        width: 100%;
        height: 100%;

        th {
            min-width: 200px;
        }

        a {
            color: @spring-brown;
        }
    }
}

#table-options {
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;

    > * {
        margin: 10px;
    }
}

.pagination {

    .page-link{
        color: @spring-brown !important;
    }
}